{% extends 'core/base.html'%}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SKILLS</h1>
    <div class="row text-black">
        <div class="col-sm-5">
            <h3>HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style=" width:100%" aria-valuenow=
                        "100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>
     <div class="col-sm-5 ">
            <h3>JavaScript</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar"
                     style=" width:70%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
        </div>
        <div class="col-sm-5 ">
            <h3>Python</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar"
                     style=" width:90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
        </div>
        <div class="col-sm-5 ">
            <h3>DjangoFramework</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar"
                     style=" width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}